version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: blog-postgres
    environment:
      POSTGRES_DB: blog_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - blog-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: blog-backend
    environment:
      PORT: 5000
      NODE_ENV: production
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: blog_db
      DB_USER: postgres
      DB_PASSWORD: postgres
      HUGGINGFACE_API_KEY: ${HUGGINGFACE_API_KEY:-}
      #FRONTEND_URL: http://localhost:3000
      FRONTEND_URL: http://13.200.243.112
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - blog-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # REACT_APP_API_URL: http://localhost:5000
        REACT_APP_API_URL: http://13.200.243.112:5000
    container_name: blog-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - blog-network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  blog-network:
    driver: bridge


